* {
  background-color: rgb(126, 177, 121);
}

.flex-row {
    display: flex; 
    flex-direction: column;
    /* display: inline-flex; */
    /* flex-wrap: wrap; */
  }
   
.card {
    
    top: 10px;
    bottom: 10px;
    left: 10px;
    right: 10px;
    margin: 10px;
    
    padding-left: 10px;    
    padding-right: 10px;   
    padding-top: 10px;     
    padding-bottom: 10px;  
    
    width: 33%;
    height: 400px;
    text-align: center;
}